<% if current_user_is_a_doctor? %>
	<% if @product.subscribable? %>
	<br><br>
	  	<div id="cart_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".add-to-cart", true, class: "cart_radio_button" %>
	    	<%= label_tag "cart_.add-to-cart".to_s, Spree.t(:six_single_units), id: "cart_.add-to-cart" %>
	  	</div>
		<div id="subscription_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".subscription_autoship_options", false, class: "cart_radio_button" %>
	    	<%= label_tag "cart_.subscription_autoship_options".to_s, Spree.t(:twelve_units_autoship_supply) %>
	  	</div>
	  	<% if @product.is_sample %>
	  	<div id="cart_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".add-to-cart_trial", class: "cart_radio_button" %>
	    	<%= label_tag "cart_.add-to-cart_trial".to_s, Spree.t(:sample), id: "cart_.add-to-cart_trial" %>
	  	</div>
	  	<% end %>
	<% end %>
<% else %>
	<% if @product.subscribable? %>
	  <br><br>
	  	<div id="cart_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".add-to-cart", true, class: "cart_radio_button" %>
	    	<%= label_tag "cart_.add-to-cart".to_s, Spree.t(:one_month_supply), id: "cart_.add-to-cart" %>
	  	</div>
	  	<div id="subscription_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".subscription_options", false, class: "cart_radio_button" %>
	    	<%= label_tag "cart_.subscription_options".to_s, Spree.t(:three_month_supply) %>
	  	</div>

	  	<div id="subscription_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".subscription_autoship_options", false, class: "cart_radio_button" %>
	    	<%= label_tag "cart_.subscription_autoship_options".to_s, Spree.t(:one_unit_autoship_supply) %>
	  	</div>
	  	<div id="cart_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".add-to-cart_bff", class: "cart_radio_button" %>
	    	<%= label_tag "cart_.add-to-cart_bff".to_s, Spree.t(:buy_for_friend), id: "cart_.add-to-cart_bff" %>
	  	</div>
	  	<% if @product.is_sample %>
	  	<div id="cart_checkboxes" class="form-group">
	    	<%= radio_button_tag :cart, ".add-to-cart_trial", class: "cart_radio_button" %>
	    	<%= label_tag "cart_.add-to-cart_trial".to_s, Spree.t(:sample), id: "cart_.add-to-cart_trial" %>
	  	</div>
	  	<% end %>
	<% end %>
<% end %>